
.fcontainer{

}
.fiten{
  background-color: red;
  border: 2px solid black;
margin: 12px;; 
}
input{
  padding: 10px;
  margin:5px;

}
input:focus{
  border:none;
  background-color: royalblue;}

button{
  padding:10px;
  margin:5px;
  background-color: royalblue;
  color: white;
  border: radius 5px;
}

.button-class {
  border-width: 2px;
  border-color: purple;
  width: 150px;
}